= form.text_field :image1, placeholder: "Image Url1"
= form.text_field :image2, placeholder: "Image Url2"
= form.text_field :image3, placeholder: "Image Url3"
= form.text_field :image4, placeholder: "Image Url4"
= form.text_area :text, placeholder: "text" , rows: "6"
= form.submit "SEND"
