= form.text_field :image1, placeholder: "写真1枚目"
= form.text_field :image2, placeholder: "写真2枚目"
= form.text_field :image3, placeholder: "写真3枚目"
= form.text_field :image4, placeholder: "写真4枚目"
= form.text_area :text, placeholder: "本文" , rows: "6"
= form.submit "SEND"
