.content_post
  .content_post_text
    .content_post_text_profile
      .content_post_text_profile_name
        .content_post_text_profile_name_de
          name:
        .content_post_text_profile_name_name
          = tweet.user.name
      .content_post_text_profile_text
        .content_post_text_profile_text_de
          text:
        .content_post_text_profile_text_text
          = tweet.text
    .content_post_text_message
      .content_post_text_message_de
        comment
      .content_post_text_message_message
        - tweet.comments.each do |comment|
          .content_post_text_message_message_box
            .content_post_text_message_message_box_name
              .content_post_text_message_message_box_name_de
                name:
              .content_post_text_message_message_box_name_name
                = comment.user.name
            .content_post_text_message_message_box_message
              = comment.text
    .content_post_text_form
      .content_post_text_form_edit
        = link_to "詳細＆コメント", tweet_path(tweet)
      - if user_signed_in? && current_user.id == tweet.user_id
        .content_post_text_form_delete
          = link_to '削除', "/tweets/#{tweet.id}", method: :delete

  .content_post_image
    .content_post_image_1
      = image_tag tweet.image1, size: "200x125"
    .content_post_image_2
      = image_tag tweet.image2, size: "200x125"
    .content_post_image_3
      = image_tag tweet.image3, size: "200x125"
    .content_post_image_4
      = image_tag tweet.image4, size: "200x125"
