.contents.row
  .contents.row.box
    .content_post_image1
      = image_tag @tweet.image1, size: "600x600"
    .content_post_image2
      = image_tag @tweet.image2, size: "600x600"
    .content_post_image3
      = image_tag @tweet.image3, size: "600x600"
    .content_post_image4
      = image_tag @tweet.image4, size: "600x600"

  .container
    - if current_user
      = form_with(model: [@tweet, @comment], local: true) do |form|
        = form.text_area :text, placeholder: "コメントする", rows: "2"
        = form.submit "SEND"
    - else
      %strong
        %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
    .comments
      %h4 ＜コメント一覧＞
      - if @comments
        - @comments.each do |comment|
          %p
            %strong
              = link_to comment.user.name, "/users/#{comment.user_id}"
              ：
            = comment.text
